absl-py
annotated-types
antlr4-python3-runtime
anyio
astor
asttokens
attrdict
Babel
bce-python-sdk
beautifulsoup4
blinker
blis
boto3
botocore
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorthief
confection
contourpy
cssselect
cssutils
cycler
cymem
Cython
decorator
dnspython
email_validator
et-xmlfile
exceptiongroup
executing
fastapi
fastapi-cli
filelock
fire
Flask
flask-babel
fonttools
fsspec
future
gitdb
GitPython
grpcio
h11
httpcore
httptools
httpx
hydra-core
idna
imageio
imgaug
ipython
itsdangerous
jedi
Jinja2
jmespath
kiwisolver
langcodes
language_data
lazy_loader
lmdb
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
murmurhash
networkx
numpy
omegaconf
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
opt-einsum
orjson
packaging
paddle-bfloat
paddleocr
paddlepaddle
pandas
parso
pdf2docx
pexpect
pillow
premailer
preshed
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyclipper
pycryptodome
pydantic
pydantic_core
Pygments
PyMuPDF
PyMuPDFb
pyparsing
python-dateutil
python-docx
python-dotenv
python-multipart
pytz
PyYAML
rapidfuzz
rarfile
requests
rich
s3transfer
scikit-image
scipy
seaborn
sentry-sdk
shapely
shellingham
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
starlette
sympy
tensorboard
tensorboard-data-server
termcolor
thinc
thop
tifffile
torch
torchvision
tqdm
traitlets
typer
typing_extensions
tzdata
ujson
ultralytics
urllib3
uvicorn
uvloop
visualdl
wasabi
watchfiles
wcwidth
weasel
websockets
Werkzeug
